#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config AUDIOUTILS_ALSA_LIB
	bool "Enable ALSA lib"
	default n

if AUDIOUTILS_ALSA_LIB

config AUDIOUTILS_ALSA_LIB_DEV_PATH
	string "play/recored device path"
	default "/dev/audio"

choice
	prompt "Alsa Playback Device to be used"
	default AUDIOUTILS_ALSA_LIB_DEVICE_HW

config AUDIOUTILS_ALSA_LIB_DEVICE_HW
	bool "Use hardware device(not support mix, more faster)"

endchoice # Alsa lib Device

choice
	prompt "Alsa LOG Output Controls"
	default AUDIOUTILS_ALSA_LIB_LOG_INFO

config AUDIOUTILS_ALSA_LIB_LOG_DEBUG
	bool "Output DEBUG+ log"

config AUDIOUTILS_ALSA_LIB_LOG_INFO
	bool "Output INFO+ log"

config AUDIOUTILS_ALSA_LIB_LOG_WARN
	bool "Output WARN+ log"

config AUDIOUTILS_ALSA_LIB_LOG_ERR
	bool "Output ERROR+ log"

endchoice # Alsa LOG Output Controls

config AUDIOUTILS_ALSA_LIB_APLAY
	bool "alsa aplay"
	default n

config AUDIOUTILS_ALSA_LIB_ARECORD
	bool "alsa arecord"
	default n

endif # AUDIOUTILS_ALSA_LIB
