#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_LIBWEBSOCKETS
	bool "libwebsockets library (current version)"
	default n
	depends on NET_TCPPROTO_OPTIONS && OPENSSL_MBEDTLS_WRAPPER
	---help---
		Enables the libwebsockets library.

config NETUTILS_LIBWEBSOCKETS_TEST
	tristate "Enable libwebsockets test"
	default n

if NETUTILS_LIBWEBSOCKETS

config NETUTILS_LIBWEBSOCKETS_VERSION
	string "Version number"
	default "4.3.1"

config NETUTILS_LIBWEBSOCKETS_CERTS
	string "Libwebsocket Certificate Authorize Path"
	default "/etc/ssl/curl"
	depends on CRYPTO_MBEDTLS

endif

if NETUTILS_LIBWEBSOCKETS_TEST

config NETUTILS_LIBWEBSOCKETS_TEST_STACKSIZE
	int "Task's stack size"
	default 8192

endif
