type rpmsg_tun_client_exec, file_type, exec_type, vendor_file_type, file_type;

type rpmsg_tun_client, domain;

init_daemon_domain(rpmsg_tun_client);
net_domain(rpmsg_tun_client);

allow rpmsg_tun_client self:capability { net_admin net_raw net_bind_service };

allow rpmsg_tun_client self:udp_socket ioctl;
allowxperm rpmsg_tun_client self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFADDR SIOCSIFNETMASK };

allow rpmsg_tun_client tun_device:chr_file { ioctl open read write };
allowxperm rpmsg_tun_client tun_device:chr_file ioctl { SIOCSIFFLAGS SIOCGIFFLAGS SIOCSIFADDR SIOCSIFNETMASK TUNGETIFF TUNSETIFF TUNSETCARRIER };

allow rpmsg_tun_client self:rpmsg_socket { connect create read write };

allow rpmsg_tun_client self:tun_socket create;
